# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Project exclude paths
/game-client/.cache/
/game-client/node_modules/
/game-client/dist/
/game-client/generated/

/game-idl/node_modules/
/game-idl/generated/
